body {
  background-color: rgb(93, 102, 105);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: navy;
  margin-left: 20px;
}
.center {
  text-align: center;
  color: rgb(0, 0, 0);
}
.Details{

  text-align: Center;
  color: rgb(231, 7, 7);

}