body {
  background-color: rgb(73, 73, 73);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: navy;
  margin-left: 20px;
}
.center {
  text-align: center;
  color: rgb(0, 0, 0);
}
.Details{

  text-align: Center;
  color: rgb(117, 18, 18);

}